.menu-dropdown, .course, .courses, .review, .teach {
    box-shadow: 0 3px 5px 0 rgba(32, 32, 32, .26);
}
#apps-title, .beta h3, .beta-select, .confirmation, .course-info span, .mimo-info h3, .product h3, .read-faq a, .teach-info-box p {
    text-align: center;
}
#wave, .product {
    overflow: hidden;
}

#logo {
  margin: 0 auto;
}

#logoT {
  margin: 0 auto;
  height: 85px;
  margin-top: -12px;
}

#logoP {
  margin: 0 auto;
  height: 85px;
  margin-top: -15px;
}

#logoM {
  margin: 0 auto;
  height: 90px;
  margin-top: -15px;
}

#logoD{
  margin: 0 auto;
  margin-top: : 15px;
  height: 45px;
}

#logoGT{
  margin: 0 auto;
  height: 65px;
}

#premios {
  max-width: 200px;
  margin: 0 auto;
}

.premios {
  margin: 0 auto;
}

.beta-input, .flickity-enabled:focus, :focus {
    outline: 0;
}
.notice a, a {
    text-decoration: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100%;
    min-height: 100%;
    background-color: #FAFAFA;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.orange-gradient {
    background: -webkit-linear-gradient(286deg, #FAD961 0, #F76B1C 98%);
    background: linear-gradient(-196deg, #FAD961 0, #F76B1C 98%);
}
.lightblue-gradient {
    background: -webkit-linear-gradient(254deg, #00C6CD 2%, #5560E6 90%);
    background: linear-gradient(-164deg, #00C6CD 2%, #5560E6 90%);
}
.turquois-gradient {
    background: -webkit-linear-gradient(249deg, #2155B9 3%, #00C6CD 100%);
    background: linear-gradient(-159deg, #2155B9 3%, #00C6CD 100%);
}
.darkgreen-gradient {
    background: -webkit-linear-gradient(251deg, #00C860 0, #00AD7C 100%);
    background: linear-gradient(-161deg, #00C860 0, #00AD7C 100%);
}
.space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#tituloEmpresas {
  margin: 0 auto;
}
.flex-start, .mimo-info-details {
    display: -webkit-box;
    display: -ms-flexbox;
}
.flex-start {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar {
    position: absolute;
    top: 0;
    z-index: 999999;
    width: 100%}
.navbar .navbar-wrapper {
    padding: 0 16px;
    max-width: 930px;
    margin: 14px 0;
}

.navbar .nav-logo {
    height: 65px;
}
.navigation {
    position: relative;
}
.navigation a {
    font: 500 18px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #ACB0AB;
}
.navigation a:hover {
    color: #04C4D9;
}
.navigation span {
	margin-top: 9px;
    margin-right: 16px;
}
.navigation span .angle-down {
    width: 8px;
    margin-left: 2px;
}
#wave, .mimo-info, svg {
    width: 100%}
.apps-nav:hover .menu-dropdown {
    display: block;
}
.teach-nav {
    border: 1px solid #EFECEC;
    border-radius: 24px;
    padding: 4px 12px 4px;
}
.teach-nav:hover {
    background: #04C4D9;
}
.teach-nav:hover a {
    color: #FFFFFF;
}
.menu-dropdown {
    display: none;
    position: absolute;
    left: -14px;
    top: 25px;
    background-color: #252424;
    list-style: none;
    border-radius: 4px;
}
.menu-dropdown li {
    border-bottom: 1px solid #474747;
    padding: 7px 32px;
}
.menu-dropdown li a {
    font: 400 12px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #FAFAFA;
}
.menu-dropdown li a:hover {
    cursor: pointer;
    color: #04C4D9;
}
.menu-dropdown li:last-of-type {
    border: none;
}
.menu-dropdown:before {
    border: solid;
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    border-color: #252424 transparent;
    border-width: 0 .6em .6em;
    top: -6px;
    left: 39%}
.base {
    margin-top: 44px;
}
.hero {
    position: relative;
}
#wave, svg {
    position: absolute;
}

#iphone-hero {
  position: absolute;
}

.hero .hero-text {
    margin: 96px 32px 56px;
    max-width: 450px;
}
.hero .hero-text h3 {
    margin-top: 16px;
}
.hero-signup {
    margin-bottom: 8px;
}
.hero-signup .hero-input {
    padding: 10px 15px 9px;
    font: 500 14px "Helvetica Neue", Helvetica, Arial;
    border: 2px solid rgba(250, 250, 250, .75);
    background: 0 0;
    border-radius: 6px;
    color: #fff;
}
.hero-signup ::-webkit-input-placeholder {
    color: rgba(250, 250, 250, .7);
}
.hero-signup :-moz-placeholder {
    color: rgba(250, 250, 250, .7);
}
.hero-signup ::-moz-placeholder {
    color: rgba(250, 250, 250, .7);
}
.hero-signup :-ms-input-placeholder {
    color: rgba(250, 250, 250, .7);
}
#iphone-hero {
    height: auto;
    display: none;
    z-index: 9999;
}
#wave {
    top: 0;
    left: 0;
    height: 140px;
}
svg {
    height: auto;
    -webkit-transform: scale(4.9);
    transform: scale(4.9);
    z-index: 20;
}
svg path {
    fill: #FAFAFA;
}
.hero-gradient {
    position: relative;
    width: 100%;
    margin-top: -30px;
    padding: 60px 12px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04d9b2+0,049dd9+100 */
    height: 400px;
}


.hero-gradient .hero-button {
    margin: 72px 0 0 16px;
}
.hero-gradient .hero-button button {
    margin: 0 12px 8px 0;
}
.hero-gradient .hero-button .coming-soon {
    font: 400 12px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: rgba(250, 250, 250, .8);
    display: none;
    margin-left: 4px;
}
.hero-gradient .hero-button .coming-soon:hover {
    color: rgba(4, 217, 141, 1);
}
.mimo-info {
    margin-top: 18px;
    padding-top: 36px;
}
.mimo-info h2 {
    color: #04C4D9;
    margin: 0 16px;
}
.mimo-info h3 {
    margin: 18px 22px 28px;
}
#chat {
    width: 150px;
    height: auto;
    position: absolute;
    right: 150px;
    display: none;
}
.mimo-info-details {
    width: 100%;
    position: relative;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    margin-top: 8px;
    padding: 0 16px;
}
.mimo-info-details .detail {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
}
.mimo-info-details .detail .detail-text {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%}
.mimo-info-details .detail .detail-text p {
    font: 300 14px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #A8A0A0;
    margin-top: 6px;
}
.mimo-info-details .detail .gradient-icon {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin: 0 18px 0 12px;
}
#apps-title {
    margin-top: -9px;
    background-color: #fff;
    display: none;
}
.mimo-info-apps, .mimo-info-apps .app {
    border-top: 1px solid #EFECEC;
    display: -webkit-box;
    display: -ms-flexbox;
}
.mimo-info-apps {
    margin-top: 40px;
    padding: 0 16px;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.mimo-info-apps .app {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 36px 0;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.course .course-header, .topics {
    display: -webkit-box;
    display: -ms-flexbox;
}
.mimo-info-apps .app .app-icon {
    width: 50px;
    height: 50px;
    margin: 0 12px 0 2px;
}
.mimo-info-apps .app .app-text {
    -ms-flex-preferred-size: 71%;
    flex-basis: 71%}
.mimo-info-apps .app .app-text h6 {
    font: 600 14px/1.3 proxima-nova, Arial;
}
.mimo-info-apps .app .app-text p {
    font: 300 14px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #A8A0A0;
    margin: 10px 0 16px;
}
.mimo-info-apps .app .app-text a {
    color: #04C4D9;
    font: 600 12px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.mimo-info-apps .app:first-of-type {
    border: none;
}
.courses {
    margin-top: 960px;
    background: -webkit-linear-gradient(top, #2155B9, #00C6CD);
    background: linear-gradient(to bottom, #2155B9, #00C6CD);
    width: 100%;
    height: 435px;
    padding-top: 120px;
}
.courses-carousel {
    margin: 65px 0 45px;
}
.course {
    background-color: #fff;
    width: 270px;
    height: 120px;
    padding: 25px 20px;
    margin: 0 22px 8px 0;
}
.course .course-header {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}
.course .course-header span {
    font: 500 13px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #ACB0AB;
}
.course img {
    height: 48px;
}
.course h5 {
    margin: 16px 0 0;
    font: 500 22px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #666;
}
.course p {
    font: 300 13px/1.6 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #88959A;
}
.course-info {
    margin: 0 12px;
    padding-top: 40px;
}
.course-info span {
    font: 500 10px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #ACB0AB;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 12px;
}
.course-info h2 {
    color: #049DD9;
    margin: 0 12px;
}
.topics {
    margin: 60px 0 20px;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    padding: 0 12px;
}
.teach-info, .topics .topic {
    display: -webkit-box;
    display: -ms-flexbox;
}
.topics .topic {
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 36px;
}
.topics .topic .gradient-topic {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.topics .topic p {
    font: 500 15px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #666;
    margin-top: 14px;
}
.topics .topic .special-topic {
    color: #7858D5;
}
.read-faq {
    border-top: 1px solid #EFECEC;
    padding: 18px 24px;
}
.read-faq a {
    font: 500 16px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #ACB0AB;
    display: block;
}
.read-faq a:hover {
    color: #88959A;
}
.product {
    margin-top: 5%;
}
.product img {
    margin-top: 190px;
    max-width: 100%;
    height: auto;
    -webkit-transform: scale(2.7);
    transform: scale(2.7);
    padding-bottom: 50px;
}
.product h2 {
    color: #00C6CD;
    margin-bottom: 20px;
}
.product h3 {
    margin: 0 12px;
}
.teach {
    background: -webkit-linear-gradient(254deg, #00C6CD 2%, #5560E6 90%);
    background: linear-gradient(-164deg, #00C6CD 2%, #5560E6 90%);
    width: 100%;
    padding-top: 55px;
    position: relative;
}
.teach button {
    margin: 100px auto 0;
    display: block;
}
.teach-info {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 60px;
}
.teach-info-box {
    border-radius: 4px;
    width: 135px;
    margin-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 8px;
}
.teach-info-box strong {
    color: rgba(0, 0, 0, .45);
    margin: 12px 0 8px;
}
.teach-info-box p {
    font: 400 12px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: rgba(0, 0, 0, .4);
}
.teach-info-box img {
    height: 26px;
}
.teach-info-box:hover {
    background-color: rgba(0, 0, 0, .06);
    cursor: default;
}
.placeholder-box {
    visibility: hidden;
}
#macbook {
    position: absolute;
    right: 0;
    bottom: 340px;
    width: 200px;
    height: auto;
    display: none;
}
.beta {
    margin: 50px 12px 0;
    padding: 42px 36px;
}
.beta img {
    width: 22px;
    display: block;
    margin: 0 auto 24px;
}
.beta h2 {
    color: #5362E5;
}
.beta h3 {
    display: none;
    padding: 0 40px;
}
.beta-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    max-width: 680px;
    margin: 40px auto 0;
}
.beta-select {
    background: url(/static/img/select-arrow.svg) no-repeat #fff;
    background-position: calc(100% - 12px);
    -webkit-appearance: none;
    -moz-appearance: none;
}
.beta-input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font: 500 15px proxima-nova, Arial;
    padding-right: 12px;
    padding-left: 12px;
    height: 55px;
    color: #252424;
    margin-top: -2px;
    border: 2px solid #5362E5;
    border-radius: 2px;
}
.beta-button {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font: 700 15px proxima-nova, Arial;
    height: 52px;
    color: #fff;
    background: #04D9B2;
    border: none;
    border-radius: 3px 3px 3px 3px;
    margin-top: -2px;
    letter-spacing: 1.1px;
    margin: 0 auto;
}
.beta-button:hover {
    cursor: pointer;
    background: #04D98B;
}
#beta-signup-anchor {
    display: block;
}
.tweets .profile, .tweets .profile div {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
.reviews {
    width: 100%;
    padding-top: 55px;
    position: relative;
}
.review, .tweets {
    background-color: #fff;
    width: 280px;
    padding: 18px 22px;
    border-radius: 5px;
}
.reviews-carousel {
    margin: 65px 0 28px;
}
.review {
    min-height: 130px;
    margin: 0 16px 10px 0;
}
.review img {
}

.review h5 {
    margin: 6px 0 8px;
    font: 700 13px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.review p {
    font: 400 12px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #88959A;
}
.tweets-carousel {
    margin-bottom: 74px;
}
.tweets {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .36);
    margin: 0 16px 10px 0;
}
.tweets .profile {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 8px;
}
.tweets .profile div {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tweets img.link-icon {
    height: 10px;
    width: auto;
    opacity: .65;
    margin-right: 0;
}
.footer-brand img, .tweets img {
    height: 22px;
}
.tweets img.link-icon:hover {
    opacity: 1;
}
.tweets img {
    margin-right: 12px;
    border-radius: 2px;
}
.tweets .tweeter {
    font: 400 14px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #7858D5;
}
.tweets .tweeter:hover {
    color: #6440cf;
}
.tweets p {
    font: 400 14px/1.3 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #88959A;
}
.footer {
    width: 100%;
    margin-top: 74px;
    background-color: rgba(0, 0, 0, .13);
}
.footer-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 45px 14px 12px 40px;
}
.footer-box {
    margin-right: 32px;
    margin-bottom: 36px;
}
.footer-box strong {
    font: 500 12px "Helvetica Neue", Helvetica, Arial;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-box ul {
    list-style: none;
    color: #fff;
}
.footer-box ul a {
    color: rgba(250, 250, 250, .65);
    font: 300 12px/2 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.footer-box ul a:hover {
    color: #fff;
}
.footer-brand {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-brand .techstars {
    border-left: 1px solid rgba(250, 250, 250, .4);
    margin-left: 12px;
    padding-left: 12px;
}
.footer-brand span {
    color: rgba(250, 250, 250, .55);
    font: 300 11px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.confirmation button, .confirmation.subscription span, .error-container .wrapper p {
    font-family: proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.error-container .wrapper {
    max-width: 800px;
    padding: 150px 12px;
    margin: 0 auto;
}
.error-container .wrapper h1 {
    color: #545DE1;
    font-size: 90px;
    margin-bottom: 48px;
}
.error-container .wrapper p {
    font-size: 24px;
    color: #ACB0AB;
}
.error-container .wrapper a {
    color: #545DE1;
}
.error-footer {
    background-color: #545DE1;
    width: 100%;
    padding: 0;
}
.error-footer .footer-box span {
    display: none;
}
.confirmation {
    display: block;
    margin: 120px auto;
    width: 90%;
    max-width: 600px;
}
.confirmation h1 {
    margin: 48px 0 36px;
}
.confirmation h3 {
    margin-bottom: 32px;
}
.confirmation b {
    font-weight: 600;
}
.confirmation button {
    margin-top: 32px;
    background-color: #55acee;
    color: #fff;
    border-radius: 99px;
    padding: 12px 42px;
    border: none;
}
.confirmation button:hover {
    background-color: #42a3ec;
}
.confirmation.subscription {
    max-width: 800px;
}
.confirmation.subscription h1 {
    max-width: 600px;
    margin: 40px auto 90px;
}
.confirmation.subscription h4 {
    color: #252424;
    letter-spacing: 0;
    text-align: left;
    font-size: 18px;
}
.confirmation.subscription h4 em, .confirmation.subscription span b {
    color: #04C4D9;
}
.confirmation.subscription button {
    background-color: #04C4D9;
    margin-bottom: 12px;
    padding: 18px 48px;
    font-size: 20px;
}
.confirmation.subscription button:hover {
    background-color: #00b964;
}
.confirmation.subscription span {
    margin-top: 12px;
    display: block;
    font-size: 14px;
    line-height: 22px;
}
.confirmation.subscription .promise {
    display: block;
    margin: 24px auto 60px;
    width: 270px;
    font: 600 21px proxima-nova, Arial;
    color: #ACB0AB;
}
.download-ios, .download-android, .subscription-courses {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
.subscription-courses {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
}
.subscription-courses .course {
    width: 140px;
    margin: 24px 24px 24px 0;
    height: 120px;
    box-shadow: none;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
    padding: 44px 6px;
    position: relative;
}
.subscription-courses .course span {
    color: #666;
    font: 600 11px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    padding: 2px 4px;
    margin-bottom: 16px;
    border-radius: 3px;
    width: 60px;
    position: absolute;
    right: 6px;
    top: -4px;
}
.subscription-courses .course h5 {
    margin-top: 6px;
}
.subscription-courses .course img {
    height: 30px;
    width: auto;
}
h1 {
    color: #3C4040;
    font: 900 23px proxima-nova, Arial;
}
h2 {
    font: 900 25px proxima-nova, Arial;
    text-align: center;
}
h3 {
    font: 300 15px/1.5 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #ACB0AB;
}
h4 {
    font: 700 15px proxima-nova, Arial;
    letter-spacing: 2px;
    color: #fff;
}
h5 {
    font: 400 16px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    color: #252424;
}
h6 {
    font: 700 13px proxima-nova, Arial;
    color: #666;
}
strong {
    font: 800 12px proxima-nova, Arial;
}
hr {
    border: none;
    border-bottom: 1px solid #EFECEC;
}
.btn, button {
    padding: 8px 18px;
    font: 500 15px "Helvetica Neue", Helvetica, Arial;
}
button:hover {
    cursor: pointer;
}
.btn-color {
    color: #fff;
    border: 2px solid rgba(250, 250, 250, .75);
    background: 0 0;
    border-radius: 6px;
    letter-spacing: 1px;
}
.btn-color:hover {
    background-color: rgba(250, 250, 250, .15);
}
.btn-gradient {
    background: #04D9B2;
    box-shadow: inset 0 1px 1px 0 rgba(40, 40, 40, .17);
    border-radius: 5px;
    color: #fff;
    font: 700 16px "Helvetica Neue", Helvetica, Arial;
    padding: 16px 24px;
    border: none;
}
.btn-gradient img {
    height: 15px;
    margin-left: 36px;
}
.download-ios, .download-android {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.download-ios img, .download-android img {
    height: 24px;
    margin: -4px 22px 0 0;
}
.box {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 3px 5px 0 rgba(32, 32, 32, .26);
}
.gradient-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 24px;
}
.gradient-title img {
    height: 12px;
    margin-right: 8px;
}
@media screen and (max-width:639px) {
.navbar .nav-logo {
    height: auto;
    width: 100%;
}
.navbar .navbar-wrapper {
    margin-top: 0;
}
.base {
    margin-top: 150px;
}
.menu-dropdown {
    left: -5px;
    top: 36px;
}
}
@media screen and (max-width:411px) {
#acceso-empresas {
	display: none;
}
}
@media screen and (max-width:384px) {
.download-android img {
	display: none;
}
}
@media screen and (min-width:480px) {
    h1 {
    font: 700 26px proxima-nova, Arial;
}
h2 {
    font: 900 28px proxima-nova, Arial;
}
h3 {
    font: 300 17px/1.6 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
h4 {
    font: 700 13px proxima-nova, Arial;
    letter-spacing: 3px;
}
}
@media screen and (min-width:640px) {
    h1 {
    font: 700 22px proxima-nova, Arial;
}
h2 {
    font: 900 30px proxima-nova, Arial;
}
}
@media screen and (min-width:768px) {
    h1 {
    font: 900 30px proxima-nova, Arial;
}
h2 {
    font: 900 32px proxima-nova, Arial;
}
h3 {
    font: 300 18px/1.6 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
h4 {
    font: 700 30px proxima-nova, Arial;
}
h6 {
    font-size: 18px;
}
.btn-color {
    padding: 9px 24px;
}
.gradient-title {
    margin-left: 40px;
}
}
@media screen and (min-width:1024px) {
    h1 {
    font: 900 40px proxima-nova, Arial;
}
h2 {
    font: 900 38px proxima-nova, Arial;
}
h3 {
    font: 300 20px/1.6 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
h5 {
    font: 400 17px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.gradient-title {
    padding-left: 32px;
}
}
@media screen and (min-width:1200px) {
    .gradient-title {
    padding-left: 0;
}
}
@media screen and (min-width:370px) {
    .teach-info-box {
    width: 165px;
}
.review, .tweets {
    margin-right: 24px;
}
.courses {
    margin-top: 850px;
}
}
@media screen and (min-width:480px) {
    .beta-button, .teach-info-box p {
    font-size: 13px;
}
.hero .hero-text {
    margin-top: 193px;
    max-width: 360px;
}
.hero-gradient {
    margin-top: 0;
}
.hero-gradient .hero-button {
    margin: 64px 0 0 16px;
}
.hero-gradient .hero-button .coming-soon {
    display: inline-block;
}
.hero-gradient .hero-button .links-anchors {
    display: inline-block;
}
svg {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    top: 20px;
}
.mimo-info h3 {
    margin: 22px 28px 28px;
}
.mimo-info-apps .app .app-icon {
    width: 60px;
    height: 60px;
    margin: 0 22px 0 16px;
}
.courses {
    margin-top: 780px;
    padding-top: 120px;
}
.course {
    margin: 0 40px 8px 0;
}
.product {
    margin-top: 5%;
}
.product h3 {
    margin: 0 32px;
}
.product img {
    margin-top: 190px;
    max-width: 100%;
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    padding-bottom: 50px;
    padding-right: 20px;
}
.teach-info {
    padding: 0 40px;
    margin-top: 72px;
}
.beta {
    padding: 42px 26px;
}
.beta h3 {
    display: block;
    margin: 24px 0;
    padding: 0;
}
.beta-form {
    margin-top: 32px;
}
.beta-select.beta-input {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    border-width: 2px;
    border-radius: 3px 0 0 3px;
}
.beta-input {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin: 0;
    border-width: 2px 0;
    border-radius: 0;
}
.beta-button {
    height: 55px;
    border-radius: 3px 3px 3px 3px;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%}
.review h5 {
    font-size: 14px;
}
.review p {
    font: 400 14px/1.4 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.tweets {
    width: 380px;
}
.tweets img {
    height: 25px;
}
.tweets p {
    font-size: 14px;
}
}
@media screen and (min-width:640px) {
    .hero .hero-text {
    margin-left: 40px;
    max-width: 390px;
}
.hero .hero-text h1 {
    margin-bottom: 32px;
}
.hero .hero-text h3 {
    display: inline-block;
    margin-top: 0;
}
.h1-extension {
    display: none;
}
#iphone-hero {
    display: block;
    width: 300px;
    left: 65%;
}

.hero-gradient {
    height: 400px;
    margin-top: -32px;
}
.hero-gradient .hero-button {
    margin: 90px 0 50px 16px;
    max-width: 480px;
}
.review, .tweets {
    margin-right: 40px;
}
.mimo-info {
    padding-top: 52px;
}
.mimo-info-apps .app {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border-top: none;
    padding: 24px 0;
}
.mimo-info-apps .app .app-icon {
    width: 45px;
    height: 45px;
}
.mimo-info-apps .app .app-text p {
    font-size: 13px;
    margin-bottom: 4px;
}
.mimo-info-apps .app:first-of-type {
    border-right: 1px solid #EFECEC;
}
.courses {
    margin-top: 590px;
}
.topics .topic {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%}
.product {
    margin-top: 5%;
}
.product img {
    margin-top: 150px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
}
.teach button {
    margin-left: 40px;
    margin-top: 12px;
}
#macbook {
    top: 190px;
}
.reviews {
    padding-top: 80px;
}
.review {
    width: 380px;
    margin-bottom: 24px;
}
.tweets {
    min-height: 104px;
}
}
@media screen and (min-width:768px) {
    .navbar {
    padding: 0 40px;
    height: 48px;
}
.navigation span {
	margin-top: 0px;
    margin-right: 32px;
}
.menu-dropdown {
    left: 13px;
    top: 26px;
}
.hero .hero-text {
    max-width: 480px;
}
.hero .hero-text .headline {
    display: inline-block;
    padding: 14px 0;
    margin-bottom: 20px;
    margin-top: 24px;
}
#iphone-hero, #chat, .product img {
    display: block;
}
.hero .hero-text h1 {
    margin-bottom: 0;
}
.hero .hero-text h3 {
    font-size: 19px;
}
#iphone-hero {
  width: 400px;
  top: 20px;
}
svg {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    top: 0;
}
.hero-gradient {
    margin-top: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.hero-gradient .hero-button {
    margin: 96px 0 52px 40px;
    max-width: 480px;
}
.mimo-info {
    padding-top: 72px;
}
.mimo-info h3 {
    max-width: 560px;
    margin: 24px auto 40px;
}
.mimo-info-details {
    padding-left: 32px;
}
.mimo-info-details .detail {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%}
.mimo-info-details .detail .detail-text p {
    font-size: 16px;
    margin-top: 12px;
}
.courses {
    margin-top: 650px;
    padding-top: 190px;
    height: 435px;
}
.course {
    margin-right: 48px;
}
.course-info {
    margin: 0 24px;
    padding-top: 56px;
}
.course-info span {
    font-size: 12px;
}
.topics {
    padding: 0 32px;
    margin-top: 72px;
}
.topics .topic p {
    font-size: 17px;
}
.product {
    margin-top: 5%;
}
.product h3 {
    max-width: 560px;
    margin: 0 auto;
}
.product img, .teach-info {
    margin-left: auto;
    margin-right: auto;
}
.product img {
    position: relative;
    margin-top: 60px;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding-bottom: 0;
    padding-left: 0;
}
.teach-info {
    max-width: 740px;
}
.teach-info-box {
    width: 180px;
}
.beta {
    margin: 40px 24px 0;
    padding: 50px 40px;
}
.beta h3 {
    padding: 0 60px;
}
.footer-brand {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer-brand span {
    position: absolute;
    bottom: 50px;
}
}
@media screen and (min-width:1024px) {
    .navbar {
    padding: 0 72px;
}
.navbar .navbar-wrapper {
    margin: 14px auto;
    padding: 0;
}
.hero {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
.hero .hero-text {
    margin-top: 0;
    max-width: 640px;
}
.hero .hero-text h3 {
    display: block;
    font-size: 21px;
}

.nav-logo {
  height: 40px;
}
#iphone-hero {
  width: 400px;
  top: 35%;
  left: 66%;
  top: 30px;
}
#wave {
    height: 600px;
}
svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.hero-gradient {
    padding-left: 32px;
    padding-right: 32px;
    height: 524px;
}
.hero-gradient .hero-button {
    position: relative;
    z-index: 9999999;
    max-width: 900px;
    margin: 124px auto 52px;
}
.hero-gradient .hero-button .coming-soon {
    font-size: 14px;
}
#chat {
    top: 10px;
    width: 230px;
    right: 120px;
}
.mimo-info {
    padding-top: 80px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
          background: -moz-linear-gradient(top,  #04d9b2 0%, #049dd9 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #04d9b2 0%,#049dd9 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #04d9b2 0%,#049dd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04d9b2', endColorstr='#049dd9',GradientType=0 ); /* IE6-9 */

}
.mimo-info h3 {
    max-width: 650px;
    margin: 24px auto 40px;
}
.mimo-info-details {
    padding: 75px 0 75px 55px;
}
.mimo-info-details .detail {
    margin-top: 48px;
}
.mimo-info-details .detail .detail-text {
    max-width: 380px;
}
.mimo-info-apps .app .app-icon {
    width: 60px;
    height: 60px;
}
.mimo-info-apps .app:last-of-type {
    padding-left: 20px;
}
.gradient-title {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.courses {
    margin-top: 660px;
    height: 535px;
    padding-top: 200px;
}
.course {
    margin: 24px 64px 12px 0;
    padding: 32px 28px;
    height: 120px;
    width: 330px;
}
.course p {
    font: 300 14px/1.6 proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
}
.course-info {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding-top: 100px;
}
.course-info h2 {
    margin-top: 24px;
}
.course-info span {
    font-size: 15px;
    letter-spacing: 6px;
}
.topics {
    padding: 0 10%}
.topics .topic {
    margin-top: 40px;
}
.topics .topic .gradient-topic {
    width: 95px;
    height: 95px;
    border-radius: 12px;
}
.topics .topic p {
    font-size: 18px;
    margin-top: 24px;
}
.read-faq a {
    font-size: 20px;
}
.product {
    margin-top: 5%;
}
.product img {
    margin-top: 60px;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding-bottom: 0;
    width: 1000px;
}
.product h3 {
    max-width: 650px;
}
.teach {
    padding-top: 80px;
}
.teach button {
    margin-left: 74px;
}
.teach-info {
    margin-top: 80px;
    max-width: 670px;
    padding-left: 74px;
    margin-left: 0;
}
.teach-info-box {
    width: 160px;
}
.teach-info-box strong {
    font-size: 15px;
}
.teach-info-box p {
    font-size: 14px;
}
#macbook {
    top: 180px;
    width: 450px;
    display: block;
}
.beta {
    margin-top: 140px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
.beta h3 {
    padding: 0 140px;
}
.beta-form {
    margin-top: 60px;
}
.beta-input.beta-select {
    text-align: center;
    padding-left: 70px;
}
.beta-input {
    font-size: 18px;
    padding: 0 24px;
}
.beta-button {
    font-size: 23px;
}

.reviews {
    margin-top: 50px;
    padding-top: 80px;
}
}
@media screen and (min-width:1200px) {
    .hero-gradient .hero-button {
    margin: 160px auto;
    bottom: 50%;
}
#iphone-hero {
  width: 750px;
  top: -10%;
  left: 85%;
}
.courses {
    margin-top: 730px;
}
.course-info, .mimo-info {
    max-width: 1000px;
    margin-top: 10%;
}
#macbook {
    width: 520px;
    top: 120px;
}
.mimo-info-details {
    padding-left: 64px;
}
.mimo-info-apps {
    padding: 12px 24px;
}
.mimo-info-apps .app {
    padding-left: 20px;
}
.mimo-info-apps .app .app-icon {
    margin-right: 30px;
}
.mimo-info-apps .app:last-of-type {
    padding-left: 40px;
}
}
@media screen and (min-width:1600px) {
    .hero-gradient {
    margin-top: -40px;
}
.hero-gradient .hero-button {
    margin: 200px auto 62px;
}
.teach-info {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.teach-info-box {
    width: 300px;
}
}
@media screen and (min-width:2000px) {
    .hero-gradient {
    margin-top: -60px;
}
.hero-gradient .hero-button {
    margin: 260px auto 62px;
}
#iphone-hero {
    top: 10px;
    width: 200px;
}
}
/*! Flickity v1.2.1
http://flickity.metafizzy.co
---------------------------------------------- */.flickity-enabled {
    position: relative;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%}
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: grabbing;
}
.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: #fff;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flickity-prev-next-button:hover {
    background: #fff;
}
.flickity-prev-next-button:focus {
    outline: 0;
    box-shadow: 0 0 0 5px #09F;
}
.flickity-prev-next-button:active {
    filter: alpha(opacity=60);
    opacity: .6;
}
.flickity-prev-next-button.previous {
    left: 10px;
}
.flickity-prev-next-button.next {
    right: 10px;
}
.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}
.flickity-prev-next-button:disabled {
    filter: alpha(opacity=30);
    opacity: .3;
    cursor: auto;
}
.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%}
.flickity-prev-next-button .arrow {
    fill: #333;
}
.flickity-prev-next-button.no-svg {
    color: #333;
    font-size: 26px;
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-rtl .flickity-page-dots {
    direction: rtl;
}
.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    filter: alpha(opacity=25);
    opacity: .25;
    cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
    filter: alpha(opacity=100);
    opacity: 1;
}
.notice {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px 0 70px 8px;
}
.notice #myheadline {
    margin: 45px 0 55px;
}
.notice #myheadline h1 {
    font-size: 25px;
    color: #A5A5A5;
    font-family: utopia-std-caption, sans-serif;
    font-weight: 300;
}
.notice h4, .notice p strong {
    font-weight: 800;
    color: #545353;
    font-family: europa, sans-serif;
}
.notice h4 {
    font-size: 15px;
    line-height: 24px;
}
.notice hr {
    border: 0;
    border-bottom: 1px dotted #E0D9D9;
    padding-bottom: 20px;
    width: 100%}
.notice p {
    clear: both;
    font-family: europa, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #545353;
}
.notice p strong {
    font-size: 15px;
    line-height: 24px;
}
.notice a {
    font-family: europa, sans-serif;
    color: #A5A5A5;
    font-size: 14px;
}
.notice a:hover {
    color: #919191;
}
.notice .impressum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.notice .impressum #lower {
    margin-top: 24px;
}
#fst h2 {
    font: 400 24px proxima-nova-soft, acumin-pro, "Helvetica Neue", Arial;
    text-align: left;
    padding: 32px 0 20px;
}
#fst h3 {
    padding: 20px 0;
}
#fst h4 {
    letter-spacing: 0;
    padding: 14px 0;
}
@media screen and (min-width:600px) {
    .notice {
    padding: 25px 0 70px 25px;
}
.notice .impressum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}
.notice .impressum #imp {
    margin: 15px 15px 0;
}
}
